html {
	&, body {
		margin: 0px;
		padding: 0px;
		font-family:'Oswald',serif;
		text-shadow: 1px -1px 0px rgba(0,0,0,0.4);
		font-size: 1.2rem;
	}

	&, body, #root {
		height: 100%;
		width: 100%;
	}

}

body {
	color:white;
	text-align: center;
	overflow-y: scroll;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster', serif;
}

*:focus {
	outline: none;
}

.panel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	header {
		max-height: 128px;
		* {
			margin: 0;
		}
	}

	> article {
    flex: auto;
		display: flex;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		> div {
			height: 100%;
		}
		.title, .sub-title {
			margin: 0;
		}

		picture {
			flex: 1;
			display: block;
			height: inherit;
			min-width: 0;
			min-height: 0;
			overflow: hidden;

			img {
				object-fit: scale-down;
				min-width: 0;
				min-height: 0;
			}
		}
  }

	footer {
		max-height: 124px;
	}
}

.py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}

.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.my-12 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.p-12 {
	padding: 12px;
}

.flexbox {
	display: flex;
	&.row {
		flex-direction: column;
	}
}

ol {
	margin: 0;
	text-align: left;
}

.title {
	font-family: 'Chewy', serifs;
	font-size: 9vw;
}

.sub-title {
	font-size: 6vw;
}

a.button {
	text-decoration:none;
	display:block;
}

.button {
	position: relative;
	vertical-align: top;
	width: 75%;
	height: 60px;
	padding: 0;
	font-size: 34px;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	line-height:58px;
	text-transform:uppercase;
	font-family:'Chewy',serif;
	border:none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom: 2px solid #DFA800;
	-webkit-box-shadow: inset 0 -2px #DFA800;
	box-shadow: inset 0 -2px #DFA800;
	max-width:300px;
	margin:8px auto;
}

.fit-height {
	height: auto;
	width: auto;
	flex: 1;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}


.container {
 display:table;
 table-layout:fixed;
	width: 100%;
	height: 100%;
	position: relative;
}

.styles_modal__gNwvD {
	width: 100% !important;
}

.styles_closeButton__20ID4 {
	display: none;
}

#overlay {
	&, &.fullscreen {
		background: rgba(0,0,0,0.8) url('./images/fullscreen.svg') top right no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: 15%;
		display: flex;
		align-items: flex-end;
    justify-content: flex-end;

		&:after {
			content: "To continue use, you need to install using the 'Add to Homescreen' option. Then relaunch from the installed app";
			background-color: white;
			border-radius: 12px;
			padding: 12px;
			font-size: 75%;
			font-family: sans-serif;
			color: black;
			text-shadow: none;
			text-align: center;
			margin: 24px;
		}
	}
}



@media all and (display-mode: standalone) {
	#overlay {
		display: none;
	}
}

#overlay, #overlay.fullscreen {

	@media screen and (orientation: landscape ) {

		@media screen and (min-width: 960px) {
			background: white url('./images/mobile.svg') top center no-repeat;

			&:after {
				content: "Please install/ launch using a mobile device" !important;
				background-color: white;
				border-radius: 12px;
				padding: 12px;
				font-size: 75%;
				font-family: sans-serif;
				color: black;
				text-shadow: none;
				text-align: center;
				margin: 24px;
			}

		}

		display: block !important;

		&:after {
			content: "Please use your mobile device in portrait mode!";
			background-color: white;
			border-radius: 12px;
			padding: 12px;
			font-size: 75%;
			font-family: sans-serif;
			color: black;
			text-shadow: none;
			text-align: center;
			margin: 24px;
		}

	}
}
