#end {
	color: #775F9C;
	text-shadow: 1px -1px 0 #F0A2F5;
	background-color: #C0A5E8;

	header {
		font-family: "Pacifico";
		line-height: 24px;

		* {
			margin: 0;
			text-align: center;
		}

		.title {
			font-size: 1.75rem;
		}

		.sub-title { font-size: 1.5rem; }
	}

	article {
		flex-direction: column;
		title {
			color: #E8E6A5;
			text-shadow: 1px 1px 0 #9C994F;
		}

		p {
			white-space: pre-line;
			margin: 4px auto;
		}

		#opened {
			font-size: 2.8rem;
			color: #82E899;
			text-shadow: 1px 1px 0 #A082A3;
			font-family: 'Oswald', serif;
		}

		#time {
			background-color: #82E899;
	    padding: 2px 8px;
	    box-shadow: 4px 4px 0 #A082A3;
		}

		picture {
			height: inherit;
			min-width: 0;
			min-height: 0;

			img {
				height: 100%;
			}
		}
	}

	.button {
		flex: 0;
		text-shadow: 1px 1px 0 white;
		color:black;
		background: #E8E6A5;
		border-bottom-color: #6E4F9C;
		-webkit-box-shadow: inset 0 -2px #C0A5E8;
		box-shadow: inset 0 -2px #9C9A5F;
	}

	#share-button {
		background-color: #3b5998;
		box-shadow: inset 0 -2px #7E8AA4;
		color: white;
		flex: none;
		width: auto;
		padding: 2px 18px;
	}
}
