html, body, #game {
	overflow: hidden;
}
#game {
	background-color:#FFFFFF;
  overflow-x: hidden;
  header {
    z-index: 4
  }

  .bottles, .timer, .tries {
  	display:inline;
  	width:auto;
  	padding:8px 12px;
  	color:black;
  	text-shadow:1px 1px grey;
  	text-transform:uppercase;
  	font-size:1rem;
  	white-space:nowrap;
    background-color: grey;
    border-radius: 25px;
  }

  .timer {
    margin: 8px;
    background-color: red;
    text-shadow: -1px 1px 0 rgb(255, 24, 24);
    color: white;
  }

  .bottles {
    background-color: green;
    color: rgb(0,90,0);
    float: right;
    text-shadow: -1px 1px 0 rgb(10,230,10);
    box-shadow: 4px 4px 2px black;
    @media screen and (min-width: 400px) {
      font-size: 1.4rem;
    }
  }

  .tries {
    float: left;
  	position: inherit;
  	min-width: 64px;
    background-color: orange;
    color:  rgb(230, 120, 20);
    font-size: 1rem;
    @media screen and (min-width: 400px) {
      font-size: 2rem;
    }
    text-shadow: -1px 1px 0 rgb(255, 200, 60);
    padding: 8px 18px;
  }

  * {
    -webkit-touch-action: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    touch-action: none !important;
    touch-callout: none !important;
    user-select: none !important;
  }

  footer {
    text-align: center;
  }

  article {
    justify-content: flex-start;
    align-items: center;
    > div {
      width: 100vw;
      height: inherit;
    }
  }

  .slider {
    height: inherit;

    > div {
      &, > div {
        height: 100%;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: base;
      }
    }
  }

  .bottle {
    margin: 0 auto;
  	position:relative;
  	overflow:hidden;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition:transform .3s;
    transition:-webkit-transform .3s;
    -webkit-transition: -webkit-transform .3s;

    &:before {
      content: " ";
      background-color: red;
      position: absolute;
      top: 10%;
      width: 99%;
      height: 89%;
      z-index: -1;
    }

    .beer {
      z-index: 2;
      height: 100%;
      display: inline-block;
      background-image: url('../images/objects/bottle.png');
      background-size: auto 100%;
      background-position: -1px;
    }

    &[tabindex="0"]:before {
      background-color: green;
    }

    &[tabindex="2"]:before {
      background-color: orange;
    }

    &[tabindex="3"]:before {
      background-color: pink;
    }

    &[tabindex="4"]:before {
      background-color: lime;
    }
  }

  .container {
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }

}

*[role=dialog] {
    background-color: yellow;
    border-radius: 5%;
    color: #222;
    text-shadow: 1px -1px 0 rgb(10,10,200);
    box-shadow: 4px 4px 2px black;

    button {
      border-radius: 5%;
      font-size: 2rem;
    }
}

#start-button.button {
	background-color: rgb(5, 215 ,10);
	color:rgb(0,80,0);
	padding:3%;
  border-radius: 12px;
  border-bottom-color: rgb(0,108,0);
  text-shadow: 1px -1px 0 rgb(10,205,10);
  box-shadow: inset 0 -4px rgb(0,128,0);
  font-size: 2.8rem;
}

#end-button.button {
	background-color: #D93636;
	color:whitesmoke;
	padding-left: 1%;
	padding-right: 1%;
	  border-bottom-color: #732828;
  box-shadow: inset 0 -2px #730606;
}


@keyframes fall {
    0% {
       transform: rotate(0);
    }
    50% {
        transform: rotate(-90deg);
    }
    55% {
        transform: rotate(-80deg);
    }
    57% {
        transform: rotate(-90deg);
    }
    58% {
        transform: rotate(-85deg);
    }
    59% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes tip {
    0% {
       transform: rotate(0);
    }
    50% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(20deg);
    }
    57% {
        transform: rotate(-10deg);
    }
    58% {
        transform: rotate(5deg);
    }
    59% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.fall {
    transform-origin: 46% 100%;
    animation: fall .7s ease-in;
    animation-fill-mode: forwards;
}

.tip {
    transform-origin: 46% 100%;
    animation: tip .7s ease-in;
    animation-fill-mode: forwards;
}

@keyframes opening {
  100% { background-position: -1732.517px 0; }
}

.opening {
  animation: opening .8s steps(10);
}
