$fa-font-path: "~/fonts";

@import "font-awesome/scss/font-awesome";

#instructions {
  background-color: #8BC34A;
  color: #671575;
  text-shadow: 1px -1px 0px #C1FF7A;

  strong {
    color: #7B170F;
  }

  article {
    overflow: hidden;
    overflow-y: scroll;
  }

  .slider {
    height: 100%;
    width: 100%;

    div {
      height: 100%;
      div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-family: 'Oswald';
          font-size: 12vw;
          margin: 0;
        }

        p {
          font-family: 'Open Sans';
          font-size: 6.5vw;
          margin: 0;
          padding: 4px;
        }

        .fa-warning {
          font-size: 2.4rem;
          color: yellow;
          text-shadow: 7px 4px 0 #4E7521;
        }

        a {
          font-size: 20vw;
        }
      }
    }
  }

  .button {
   background-color:#E84E40;
   border-bottom-color: #B62216;
   -webkit-box-shadow: inset 0 -2px #B62216;
   box-shadow: inset 0 -2px #B62216;
   color:#7B170F;
   text-shadow:1px 1px 0 #F5B7B1;
 }

 article {
   & > div {
     width: 100%;
   }
 }
}
