#intro {

	header {
		* {
			margin: 0;
			text-align: center;
			white-space: pre-line;
		}
	}

	article {
		picture {
			img {
				width: 75%;
			}
			height: inherit;
		}
	}

	background-color:rgb(0, 188, 212);
	color:white;
	text-shadow:1px 1px 0 #333;

	.button {
		flex: 0;
		text-shadow: 1px 1px 0 white;
		color:black;
		background: #FFCA28;
		border-bottom-color: #DFA800;
		-webkit-box-shadow: inset 0 -2px #DFA800;
		box-shadow: inset 0 -2px #DFA800;
	}
}
