$fa-font-path: "~/fonts";

@import "font-awesome/scss/font-awesome";

#start {
	background-color:rgb(255, 152, 0);
    color: #FFCF0D;
    text-shadow: 1px -1px 0 #805C26;

	 article {

     .title, .sub-title {
       margin: 0;
     }
     .title {
   		font-family: 'Oswald', serif;
   		font-size: 15vw;
      color: #5E09B3;
      text-shadow: 1px 1px 0 #FFCF0D;
   	}

    p {
      margin: 0;
    }
   	.sub-title {
   		font-size: 8vw;
   	}

    picture {
      height: 100%;
      img {
				height: 50%;
			}
    }
   }

	.button {
    background-color: #5677fc;
		border-bottom-color: #3f51b5;
		box-shadow: inset 0 -2px #3f51b5;
		color:white;
		text-shadow: 1px 1px 0 #3f51b5;
	}

  header {
  	h1 {
      text-shadow:1px 1px 0 white;
    }
  }
}
